<h1>All My tasks</h1>



<ol>
  <% @tasks.each do |task| %>
    <% if task.completed  %>

    <li>
    <%= link_to task.title, task_path(task), class: "text-decoration-line-through" %>
    </li>

    <% else %>
    <li><%= link_to task.title, task_path(task) %></li>

  <% end %>
  <% end %>
  </ol>

<%= link_to "Add a new task", new_task_path %>
